$open-sans: 'Open Sans', sans-serif;

body {
  background: #fff;
  font-family: $open-sans;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 10000px;
}

.list-wrapper {
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 12px;
  color: #007bff;
  text-transform: uppercase;
}

.list-title {
  font-size: 16px;
}

.list-item {
  display: block;
  float: left;
  margin-right: 15px;

  img {
    display: block;
  }
}

.img-placeholder {
  display: inline-block;
  background: grey;
}

#top-nav {
  li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 10px;
  }

  a {

  }
}

#logo {
  display: block;
  margin-top: 20px;

  img {
    width: 50px;
    height: 50px;
  }
}