<table class="table table-striped table-bordered datatable">
    <thead>
    <tr>
        {foreach $columns as $col}
            <th>{fst($col)}</th>
        {/foreach}
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {foreach $data as $row}
        <tr>
            {foreach $columns as $col}
                <td>{snd($col)($row)|noescape}</td>
            {/foreach}

            <td>
                {foreach $actions as $a}
                    {snd($a)($row)|noescape}
                {/foreach}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>

{if !$disablePagination}
<div class="text-center">
    <ul class="pagination">
        <li{if $paginator->getPage() == 1} class="disabled"{/if}>
            <a href="{link this, page => ($paginator->getPage() - 1)}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {for $i = 1; $i <= $paginator->getPageCount(); $i++}
            <li{if $i == $paginator->getPage()} class="active"{/if}><a href="{link this, page => $i}">{$i}</a></li>
        {/for}

        <li{if $paginator->getPage() == $paginator->getPageCount()} class="disabled"{/if}>
            <a href="{link this, page => ($paginator->getPage() + 1)}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
{/if}