{block content}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {control searchBox}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">lists we found for you</h2>
            </div>
        </div>
    </div>

    {for $j = 0; $j < 3; $j++}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-wrapper">
                        <div class="list clearfix">
                            <h5 class="list-title">List title here</h5>

                            {for $i = 0; $i < 10; $i++}
                                <a href="#" class="list-item">
                                    <img class="img-placeholder" style="height: 160px;width: 120px;" alt="" title="Movie title here">
                                </a>
                            {/for}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/for}
{/block}