{block header}
    {include '../common/page_heading.latte', title => 'Edit Movie / TV Show'}
{/block}

{block content}


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Movie / TV Show</h3>
        </div>
        <div class="box-body no-padding">
            {control editForm}
        </div>
    </div>



{/block}

{block scripts}
    <script src="{$basePath}/public/cms/grido/js/grido.js"></script>
    <script src="{$basePath}/public/cms/grido/js/plugins/grido.datepicker.js"></script>
    <script src="{$basePath}/public/cms/grido/js/plugins/grido.nette.ajax.js"></script>
    <script src="{$basePath}/public/cms/grido/js/plugins/grido.daterangepicker.js"></script>
{/block}