{form searchBox}
    <div class="form-row">
        <div class="form-group col-sm-10">
            {input term, class => 'form-control form-control-lg', placeholder => 'search for mood or title..', id => 'js-searchbox'}
        </div>
        <div class="form-group col-sm-2">
            {input process, class => 'btn btn-primary btn-lg'}
        </div>
    </div>
{/form}