<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Mighty Kitten</title>

    <link rel="icon" type="image/png" href="https://d1jszjd6ig4173.cloudfront.net/favicon.png">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mighty Kitten" />
    <meta property="og:url" content="http://mightykitten.net/" />
    <meta property="og:site_name" content="Mighty Kitten" />
    <meta property="og:image" content="https://d1jszjd6ig4173.cloudfront.net/kitten_logo.png" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Mighty Kitten" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{$basePath}/public/front/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/public/front/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/public/front/css/style.css">

    {block head}

    {/block}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <a n:href="Homepage:default" id="logo">
                    <img src="{$basePath}/public/front/images/kitten_logo.svg" alt="" title="">
                </a>
            </div>
            <div class="pull-right">
                <nav role="navigation" id="top-nav">
                    <ul>
                        <li><a href="#">sign in</a></li>
                        <li><a href="#">sign up</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{include content}

<script src="{$basePath}/public/front/js/jquery.min.js"></script>
<script src="{$basePath}/public/front/js/popper.min.js"></script>
<script src="{$basePath}/public/front/js/bootstrap.min.js"></script>
<script src="{$basePath}/public/front/js/bundle.js"></script>

{block scripts}{/block}
</body>
</html>
