{block header}
    {include '../common/page_heading.latte', title => 'Dashboard'}
{/block}

{block content}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Welcome</h3>
        </div>
        <div class="box-body">
            This is admin dashboard.
        </div>
    </div>

{/block}