{block header}
    {include '../common/page_heading.latte', title => 'Global site settings'}
{/block}

{block content}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Edit settings</h3>
        </div>
        <div class="box-body">
            {control settingsForm}
        </div>
    </div>
{/block}