{block header}
    {include '../common/page_heading.latte', title => 'User management'}
{/block}

{block content}

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Add a new user</h3>
        </div>
        <div class="box-body">
            {control addUserForm}
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Existing users</h3>
        </div>
        <div class="box-body">
            {control usersDataTable}
        </div>
    </div>
{/block}

{block scripts}
    <script>
        $('.datatable').dataTable();
    </script>
{/block}