<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MightyKitten Admin UI</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{$basePath}/public/cms/lte/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/lte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/lte/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/css/jquery-ui.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/grido/css/grido.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/css/style.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="{link Homepage:default}" class="logo">
            <span class="logo-mini"><b>M</b>K</span>
            <span class="logo-lg"><b>Mighty</b>Kitten</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle hidden-lg hidden-md hidden-sm" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="{$basePath}/public/cms/lte/img/user2-160x160.jpg"
                                                     class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{$basePath}/public/cms/lte/img/avatar5.png" class="user-image"
                                 alt="User Image">
                            <span class="hidden-xs">{$user->identity->username}</span>
                        </a>
                        <ul class="dropdown-menu">`
                            <li class="user-header">
                                <img src="{$basePath}/public/cms/lte/img/avatar5.png" class="img-circle"
                                     alt="User Image">

                                <p>{$user->identity->username}</p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{link Sign:logout}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{$basePath}/public/cms/lte/img/avatar5.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{$user->identity->username}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">General</li>

                <li{ifCurrent Homepage:default} class="active"{/ifCurrent}><a href="{link Homepage:default}"><i
                                class="fa fa-tachometer"></i> Dashboard</a></li>
                <li><a href="#"><i class="fa fa-flag"></i> <span>Alerts</span><span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span></a></li>
                <li{ifCurrent Homepage:users} class="active"{/ifCurrent}><a href="{link Homepage:users}"><i
                                class="fa fa-users"></i> Users</a></li>
                <li{ifCurrent Homepage:settings} class="active"{/ifCurrent}><a href="{link Homepage:settings}"><i
                                class="fa fa-cogs"></i> Global settings</a></li>

                <li class="header">Content</li>

                <li{ifCurrent Suggest:default} class="active"{/ifCurrent}><a href="{link Suggest:default}"><i class="fa fa-exchange"></i> Suggestions</a></li>
                <li{if $presenter->name == 'Cms:Playlist'} class="active"{/if}><a href="{link Playlist:default}"><i class="fa fa-th-list"></i> Playlists</a></li>
                <li{if $presenter->name == 'Cms:Movies'} class="active"{/if}><a href="{link Movies:default}"><i class="fa fa-film"></i> Movies / TV</a></li>
                <li{ifCurrent Meta:genres} class="active"{/ifCurrent}><a href="{link Meta:genres}"><i class="fa fa-folder"></i> Genres</a></li>
                <li{ifCurrent Meta:tags} class="active"{/ifCurrent}><a href="{link Meta:tags}"><i class="fa fa-tags"></i> Tags</a></li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">

        {include header}

        <section class="content">

            {if count($flashes) > 0}
                {foreach $flashes as $flash}
                    <div class="alert alert-{$flash->type} flash-message" role="alert">
                        {$flash->message}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                    </div>
                {/foreach}
            {/if}

            {include content}

        </section>

    </div>

    <footer class="main-footer"></footer>
</div>

<script src="{$basePath}/public/cms/js/jquery.min.js"></script>
<script src="{$basePath}/public/cms/js/jquery-ui.min.js"></script>
<script src="{$basePath}/public/cms/lte/js/bootstrap.min.js"></script>
<script src="{$basePath}/public/cms/lte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="{$basePath}/public/cms/lte/plugins/fastclick/fastclick.js"></script>

<script src="{$basePath}/public/cms/js/jquery.dataTables.min.js"></script>
<script src="{$basePath}/public/cms/js/dataTables.bootstrap.min.js"></script>
<script src="{$basePath}/public/cms/js/dataTables.buttons.min.js"></script>
<script src="{$basePath}/public/cms/js/dataTables.fixedHeader.min.js"></script>
<script src="{$basePath}/public/cms/js/dataTables.keyTable.min.js"></script>
<script src="{$basePath}/public/cms/js/dataTables.responsive.min.js"></script>

<script src="{$basePath}/public/cms/js/nette.ajax.js"></script>
<script src="{$basePath}/public/cms/js/live-form-validation.js"></script>

<script src="{$basePath}/public/cms/lte/js/app.js"></script>
<script src="{$basePath}/public/cms/lte/js/demo.js"></script>

<script>
$.nette.init();
</script>

{block scripts}{/block}

</body>
</html>