.nav-md .site_title .profile_img {
    display: none;
}

.nav-sm .site_title .profile_img {
    display: block;
    width: 32px;
    height: 32px;
}

.error-message {
    display: inline-block;
    margin-top: 3px;
    color: #dd4b39;
}

.autocomplete-item {
    margin: 0;
    padding: 0;
}

.autocomplete-poster {
    float: left;
    display: inline-block;
    width: 40px;
    height: 50px;
}

.ui-menu-item {
    display: block !important;
}

.autocomplete-ul {
    margin: 0;
    padding: 0;
}

.autocomplete-ul li {
    margin: 0;
    padding: 0;
}

.autocomplete-poster img {
    display: inline-block;
    width: 40px;
    height: 50px;
}

.autocomplete-label {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    display: inline-block;
}

ul.error {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f2dede;
    border-left: 2px solid #a94442;
}

ul.error li {
    list-style-type: none;
    color: #a94442;
    padding-bottom: 2px;
    padding-top: 2px;
}

.table-image {
    width: 60px;
    height: 85px;
}