{block header}
    {include '../common/page_heading.latte', title => 'Genres'}
{/block}

{block content}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Add a new genre</h3>
        </div>
        <div class="box-body">
            {control addGenreForm}
        </div>
    </div>

    {if !isset($edit)}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Existing genres</h3>
        </div>
        <div class="box-body">
            {control genreDataTable}
        </div>
    </div>
    {/if}
{/block}