{block header}
    {include '../common/page_heading.latte', title => 'Tags'}
{/block}

{block content}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Add a new tag</h3>
        </div>
        <div class="box-body">
            {control addTagForm}
        </div>
    </div>

    {if !isset($edit)}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Existing tags</h3>
            </div>
            <div class="box-body">
                {control tagDataTable}
            </div>
        </div>
    {/if}
{/block}