{block header}
    {include '../common/page_heading.latte', title => 'Playlists'}
{/block}

{block content}

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                {if isset($edit)}
                    Edit playlist
                {else}
                    Add a new playlist
                {/if}
            </h3>
        </div>
        <div class="box-body">
            {control addPlaylistForm}
        </div>
    </div>

    {if !isset($edit)}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Entries</h3>
        </div>
        <div class="box-body no-padding">
            {control playlistTable}
        </div>
    </div>
    {/if}
{/block}