{block header}
    {include '../common/page_heading.latte', title => 'Manage playlist items'}
{/block}

{block content}
    <a href="{link Playlist:default}" class="btn btn-success"><i class="fa fa-caret-left"></i> Go Back</a><br><br>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{$playlist->translate('en')->getName()} / {$playlist->translate('cs')->getName()}</h3>
        </div>
        <div class="box-body">
            <p><strong>Description (en): </strong>{$playlist->translate('en')->getDescription()}</p>
            <p><strong>Description (cs): </strong>{$playlist->translate('cs')->getDescription()}</p>
            <br>
            {form addItemForm}
                <ul class=error n:if="$form->ownErrors">
                    <li n:foreach="$form->ownErrors as $error">{$error}</li>
                </ul>

                <div class="form-group">
                    <div class="col-sm-6">
                        {input imdb, class => 'form-control imdb-autocomplete', placeholder => 'Search..'}
                        {input imdb_id}
                    </div>
                    <div class="col-sm-6">
                        {input process, class => 'btn btn-primary'}
                    </div>
                </div>
            {/form}

            <br><br><br>
            {form orderForm}
                {input process}
            <table class="table">
                <thead>
                <tr>
                    <th>Added</th>
                    <th>Added by</th>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {foreach $items as $i}
                    <tr>
                        <td>{$i->getAdded()|date:'j.n.Y H:i:s'}</td>
                        <td>{$i->getAddedBy()->getEmail()}</td>
                        <td>{$i->getMotionPicture()->translate('en')->getTitle()}</td>
                        <td>
                            <input type="text" name="order[{$i->getId()}]" style="width: 50px; text-align: center;" placeholder="0" value="{if $i->getOrder()}{$i->getOrder()}{/if}" class="form-control" autocomplete="off">
                        </td>
                        <td>
                            <a href="{link removeItem! itemid => $i->getId()}" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
            {/form}
        </div>
    </div>
{/block}

{block scripts}
    <script>
        $('.imdb-autocomplete').autocomplete({
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    ul.addClass('autocomplete-ul');
                    return $("<li>")
                            .append('<div class="autocomplete-item">' +
                                    '<span class="autocomplete-poster"><img src="' + item.poster + '"></span>' +
                                    '<span class="autocomplete-label">' + item.label + '</span><div style="clear:both"></div>' +
                                    "</div>")
                            .appendTo(ul);
                };
            },

            source: function (req, res) {
                var url = '//www.omdbapi.com/?s=' + req.term;

                $.getJSON(url, function (data) {
                    res($.map(data.Search, function (value, key) {
                        var val = value.Title + '(' + value.Year + ')';
                        var poster = value.Poster.replace(/_V1_.*?.jpg/g, '_V1._SY50.jpg');

                        return {
                            id: value.imdbID,
                            label: val,
                            value: val,
                            poster: poster
                        }
                    }));
                });
            },

            select: function (event, ui) {
                $(this).next('input[type=hidden]').val(ui.item.id);
            }
        });

        function clearForm() {
            $('.imdb-autocomplete, input[name=to_id], input[name=from_id]').val('');
        }

        (function () {
            clearForm();
        })();

        $('#clear-form').click(function () {
            clearForm();
        });

        $(document).ready(function () {
            $('.imdb-autocomplete').focus();
        });
    </script>
{/block}