<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mighty Kitten Admin</title>

    <link rel="stylesheet" href="{$basePath}/public/cms/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/public/cms/css/custom.min.css">

    <style>
        .admin-login {
            margin-left: 0 !important;
        }
    </style>
</head>

<body class="login">
<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            {if count($flashes) > 0}
                {foreach $flashes as $flash}
                    <div class="alert alert-{$flash->type}" role="alert">
                        {$flash->message}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {/foreach}
            {/if}

            <section class="login_content">
                {form loginForm}
                    <h1>Login to admin</h1>
                    <div>
                        {input email, class => 'form-control', placeholder => 'E-mail'}
                    </div>
                    <div>
                        {input password, class => 'form-control', placeholder => 'Password'}
                    </div>
                    <div>
                        {input process, class => 'btn btn-success btn-block submit admin-login'}
                    </div>

                    <div class="clearfix"></div>
                {/form}
            </section>
        </div>
    </div>
</div>

<script src="{$basePath}/public/cms/js/jquery.min.js"></script>
<script src="{$basePath}/public/cms/js/bootstrap.min.js"></script>
<script src="{$basePath}/public/cms/js/nette.ajax.js"></script>
<script src="{$basePath}/public/cms/js/live-form-validation.js"></script>
<script>
    $.nette.init();
</script>
</body>
</html>